.box-social {
  &__title {
    color: #353535;
    font-family: $title-font;
    font-size: 14px;
  }

  &__bg {
    margin-top: 7px;
  }

  &__list {
    display: flex;
    flex-flow: wrap;
  }

  &__item {
    margin-right: 7px;
    line-height: 0;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  &__link {
    display: inline-block;
    transition: 0.1s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__link_fb {
    @include sprite($icon-fb);
  }

  &__link_tw {
    @include sprite($icon-tw);
  }

  &__link_vk {
    @include sprite($icon-vk);
  }

  &__link_ok {
    @include sprite($icon-ok);
  }

  &__link_in {
    @include sprite($icon-instagram);
  }
}