/***********li and ol in post-box__content****************/
.post-box__content {
  ol, ul {
    padding-top: 8px;

    li {
      color: #000;
      font-size: 13px;
      font-weight: 700;
    }
  }

  ul {
    list-style-image: url("../img/icon-marcer-list.png");
    overflow: hidden;
    padding-left: 20px;

    li {
      margin-bottom: 13px;
    }
  }

  .widget ul {
    list-style-image: none;
    overflow: visible;
    padding-left: 16px;

    li {
      margin-bottom: 0;
    }
  }
}

.list-title {
  color: $title-color;
  @include fontSize(24px);
  font-weight: 700;
}

/************list-style-ol***********/
ol {
  list-style-type: none;
  counter-reset: num;
  padding-right: 10px;

  > li {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    margin-bottom: 6px;

    &:before {
      content: counter(num);
      counter-increment: num;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      min-width: 22px;
      height: 22px;
      margin-right: 6px;
      background: #a2d9f7;
      color: $title-color;
      font-size: 16px;
      font-weight: 700;
      text-align: center;
    }

    ol {
      list-style-type: none;
      counter-reset: item;
      margin-left: -20px;
      margin-top: 2px;
      padding-top: 0;
      padding-left: 0;

      li {
        position: relative;
        color: #7d7d7d;
        font-size: 13px;
        margin-top: 6px;
        padding-bottom: 0;
        padding-left: 20px;
        font-weight: 400;

        &:before {
          position: absolute;
          left: 0;
          content: counter(num)"."counter(item);
          counter-increment: item;
          background: none;
          font-size: 13px;
          font-weight: 400;
          top: 0;
          color: #7d7d7d;
        }
      }
    }
  }
}

/***************list-style-ol in sidebar******************/
.widget-area ol {
  padding-top: 10px;
  padding-left: 3px;

  > li {
    position: relative;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    color: #000;
    font-size: 13px;
    font-weight: 700;

    &:before {
      position: absolute;
      top: -5px;
      left: 0;
    }
  }

  ol {
    padding-top: 0;

    li {
      margin-bottom: 0;
      margin-top: 6px;
      padding-bottom: 0;
      color: #7d7d7d;
      font-weight: 400;
    }
  }
}