// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-bags-name: 'icon-bags';
$icon-bags-x: 72px;
$icon-bags-y: 190px;
$icon-bags-offset-x: -72px;
$icon-bags-offset-y: -190px;
$icon-bags-width: 40px;
$icon-bags-height: 42px;
$icon-bags-total-width: 357px;
$icon-bags-total-height: 355px;
$icon-bags-image: 'sprite-png.png';
$icon-bags: (72px, 190px, -72px, -190px, 40px, 42px, 357px, 355px, 'sprite-png.png', 'icon-bags', );
$icon-bank-name: 'icon-bank';
$icon-bank-x: 52px;
$icon-bank-y: 306px;
$icon-bank-offset-x: -52px;
$icon-bank-offset-y: -306px;
$icon-bank-width: 16px;
$icon-bank-height: 16px;
$icon-bank-total-width: 357px;
$icon-bank-total-height: 355px;
$icon-bank-image: 'sprite-png.png';
$icon-bank: (52px, 306px, -52px, -306px, 16px, 16px, 357px, 355px, 'sprite-png.png', 'icon-bank', );
$icon-big-car-name: 'icon-big-car';
$icon-big-car-x: 122px;
$icon-big-car-y: 190px;
$icon-big-car-offset-x: -122px;
$icon-big-car-offset-y: -190px;
$icon-big-car-width: 43px;
$icon-big-car-height: 38px;
$icon-big-car-total-width: 357px;
$icon-big-car-total-height: 355px;
$icon-big-car-image: 'sprite-png.png';
$icon-big-car: (122px, 190px, -122px, -190px, 43px, 38px, 357px, 355px, 'sprite-png.png', 'icon-big-car', );
$icon-boiler-name: 'icon-boiler';
$icon-boiler-x: 342px;
$icon-boiler-y: 236px;
$icon-boiler-offset-x: -342px;
$icon-boiler-offset-y: -236px;
$icon-boiler-width: 12px;
$icon-boiler-height: 17px;
$icon-boiler-total-width: 357px;
$icon-boiler-total-height: 355px;
$icon-boiler-image: 'sprite-png.png';
$icon-boiler: (342px, 236px, -342px, -236px, 12px, 17px, 357px, 355px, 'sprite-png.png', 'icon-boiler', );
$icon-books-name: 'icon-books';
$icon-books-x: 225px;
$icon-books-y: 190px;
$icon-books-offset-x: -225px;
$icon-books-offset-y: -190px;
$icon-books-width: 35px;
$icon-books-height: 34px;
$icon-books-total-width: 357px;
$icon-books-total-height: 355px;
$icon-books-image: 'sprite-png.png';
$icon-books: (225px, 190px, -225px, -190px, 35px, 34px, 357px, 355px, 'sprite-png.png', 'icon-books', );
$icon-bricks-name: 'icon-bricks';
$icon-bricks-x: 220px;
$icon-bricks-y: 144px;
$icon-bricks-offset-x: -220px;
$icon-bricks-offset-y: -144px;
$icon-bricks-width: 52px;
$icon-bricks-height: 31px;
$icon-bricks-total-width: 357px;
$icon-bricks-total-height: 355px;
$icon-bricks-image: 'sprite-png.png';
$icon-bricks: (220px, 144px, -220px, -144px, 52px, 31px, 357px, 355px, 'sprite-png.png', 'icon-bricks', );
$icon-builder-name: 'icon-builder';
$icon-builder-x: 342px;
$icon-builder-y: 0px;
$icon-builder-offset-x: -342px;
$icon-builder-offset-y: 0px;
$icon-builder-width: 15px;
$icon-builder-height: 17px;
$icon-builder-total-width: 357px;
$icon-builder-total-height: 355px;
$icon-builder-image: 'sprite-png.png';
$icon-builder: (342px, 0px, -342px, 0px, 15px, 17px, 357px, 355px, 'sprite-png.png', 'icon-builder', );
$icon-calculator-name: 'icon-calculator';
$icon-calculator-x: 90px;
$icon-calculator-y: 262px;
$icon-calculator-offset-x: -90px;
$icon-calculator-offset-y: -262px;
$icon-calculator-width: 15px;
$icon-calculator-height: 19px;
$icon-calculator-total-width: 357px;
$icon-calculator-total-height: 355px;
$icon-calculator-image: 'sprite-png.png';
$icon-calculator: (90px, 262px, -90px, -262px, 15px, 19px, 357px, 355px, 'sprite-png.png', 'icon-calculator', );
$icon-cancelary-name: 'icon-cancelary';
$icon-cancelary-x: 175px;
$icon-cancelary-y: 190px;
$icon-cancelary-offset-x: -175px;
$icon-cancelary-offset-y: -190px;
$icon-cancelary-width: 40px;
$icon-cancelary-height: 37px;
$icon-cancelary-total-width: 357px;
$icon-cancelary-total-height: 355px;
$icon-cancelary-image: 'sprite-png.png';
$icon-cancelary: (175px, 190px, -175px, -190px, 40px, 37px, 357px, 355px, 'sprite-png.png', 'icon-cancelary', );
$icon-car-name: 'icon-car';
$icon-car-x: 342px;
$icon-car-y: 105px;
$icon-car-offset-x: -342px;
$icon-car-offset-y: -105px;
$icon-car-width: 14px;
$icon-car-height: 17px;
$icon-car-total-width: 357px;
$icon-car-total-height: 355px;
$icon-car-image: 'sprite-png.png';
$icon-car: (342px, 105px, -342px, -105px, 14px, 17px, 357px, 355px, 'sprite-png.png', 'icon-car', );
$icon-choice-name: 'icon-choice';
$icon-choice-x: 0px;
$icon-choice-y: 190px;
$icon-choice-offset-x: 0px;
$icon-choice-offset-y: -190px;
$icon-choice-width: 62px;
$icon-choice-height: 62px;
$icon-choice-total-width: 357px;
$icon-choice-total-height: 355px;
$icon-choice-image: 'sprite-png.png';
$icon-choice: (0px, 190px, 0px, -190px, 62px, 62px, 357px, 355px, 'sprite-png.png', 'icon-choice', );
$icon-cran-name: 'icon-cran';
$icon-cran-x: 304px;
$icon-cran-y: 262px;
$icon-cran-offset-x: -304px;
$icon-cran-offset-y: -262px;
$icon-cran-width: 17px;
$icon-cran-height: 13px;
$icon-cran-total-width: 357px;
$icon-cran-total-height: 355px;
$icon-cran-image: 'sprite-png.png';
$icon-cran: (304px, 262px, -304px, -262px, 17px, 13px, 357px, 355px, 'sprite-png.png', 'icon-cran', );
$icon-document-name: 'icon-document';
$icon-document-x: 0px;
$icon-document-y: 306px;
$icon-document-offset-x: 0px;
$icon-document-offset-y: -306px;
$icon-document-width: 16px;
$icon-document-height: 22px;
$icon-document-total-width: 357px;
$icon-document-total-height: 355px;
$icon-document-image: 'sprite-png.png';
$icon-document: (0px, 306px, 0px, -306px, 16px, 22px, 357px, 355px, 'sprite-png.png', 'icon-document', );
$icon-drop-name: 'icon-drop';
$icon-drop-x: 20px;
$icon-drop-y: 338px;
$icon-drop-offset-x: -20px;
$icon-drop-offset-y: -338px;
$icon-drop-width: 10px;
$icon-drop-height: 16px;
$icon-drop-total-width: 357px;
$icon-drop-total-height: 355px;
$icon-drop-image: 'sprite-png.png';
$icon-drop: (20px, 338px, -20px, -338px, 10px, 16px, 357px, 355px, 'sprite-png.png', 'icon-drop', );
$icon-energi-name: 'icon-energi';
$icon-energi-x: 169px;
$icon-energi-y: 262px;
$icon-energi-offset-x: -169px;
$icon-energi-offset-y: -262px;
$icon-energi-width: 17px;
$icon-energi-height: 16px;
$icon-energi-total-width: 357px;
$icon-energi-total-height: 355px;
$icon-energi-image: 'sprite-png.png';
$icon-energi: (169px, 262px, -169px, -262px, 17px, 16px, 357px, 355px, 'sprite-png.png', 'icon-energi', );
$icon-factory-name: 'icon-factory';
$icon-factory-x: 342px;
$icon-factory-y: 132px;
$icon-factory-offset-x: -342px;
$icon-factory-offset-y: -132px;
$icon-factory-width: 14px;
$icon-factory-height: 16px;
$icon-factory-total-width: 357px;
$icon-factory-total-height: 355px;
$icon-factory-image: 'sprite-png.png';
$icon-factory: (342px, 132px, -342px, -132px, 14px, 16px, 357px, 355px, 'sprite-png.png', 'icon-factory', );
$icon-fayer-2-name: 'icon-fayer-2';
$icon-fayer-2-x: 342px;
$icon-fayer-2-y: 210px;
$icon-fayer-2-offset-x: -342px;
$icon-fayer-2-offset-y: -210px;
$icon-fayer-2-width: 13px;
$icon-fayer-2-height: 16px;
$icon-fayer-2-total-width: 357px;
$icon-fayer-2-total-height: 355px;
$icon-fayer-2-image: 'sprite-png.png';
$icon-fayer-2: (342px, 210px, -342px, -210px, 13px, 16px, 357px, 355px, 'sprite-png.png', 'icon-fayer-2', );
$icon-fayer-name: 'icon-fayer';
$icon-fayer-x: 342px;
$icon-fayer-y: 158px;
$icon-fayer-offset-x: -342px;
$icon-fayer-offset-y: -158px;
$icon-fayer-width: 12px;
$icon-fayer-height: 18px;
$icon-fayer-total-width: 357px;
$icon-fayer-total-height: 355px;
$icon-fayer-image: 'sprite-png.png';
$icon-fayer: (342px, 158px, -342px, -158px, 12px, 18px, 357px, 355px, 'sprite-png.png', 'icon-fayer', );
$icon-fb-name: 'icon-fb';
$icon-fb-x: 299px;
$icon-fb-y: 194px;
$icon-fb-offset-x: -299px;
$icon-fb-offset-y: -194px;
$icon-fb-width: 24px;
$icon-fb-height: 25px;
$icon-fb-total-width: 357px;
$icon-fb-total-height: 355px;
$icon-fb-image: 'sprite-png.png';
$icon-fb: (299px, 194px, -299px, -194px, 24px, 25px, 357px, 355px, 'sprite-png.png', 'icon-fb', );
$icon-fire-extinguisher-name: 'icon-fire-extinguisher';
$icon-fire-extinguisher-x: 342px;
$icon-fire-extinguisher-y: 287px;
$icon-fire-extinguisher-offset-x: -342px;
$icon-fire-extinguisher-offset-y: -287px;
$icon-fire-extinguisher-width: 11px;
$icon-fire-extinguisher-height: 16px;
$icon-fire-extinguisher-total-width: 357px;
$icon-fire-extinguisher-total-height: 355px;
$icon-fire-extinguisher-image: 'sprite-png.png';
$icon-fire-extinguisher: (342px, 287px, -342px, -287px, 11px, 16px, 357px, 355px, 'sprite-png.png', 'icon-fire-extinguisher', );
$icon-fueling-name: 'icon-fueling';
$icon-fueling-x: 130px;
$icon-fueling-y: 306px;
$icon-fueling-offset-x: -130px;
$icon-fueling-offset-y: -306px;
$icon-fueling-width: 16px;
$icon-fueling-height: 16px;
$icon-fueling-total-width: 357px;
$icon-fueling-total-height: 355px;
$icon-fueling-image: 'sprite-png.png';
$icon-fueling: (130px, 306px, -130px, -306px, 16px, 16px, 357px, 355px, 'sprite-png.png', 'icon-fueling', );
$icon-heat-name: 'icon-heat';
$icon-heat-x: 104px;
$icon-heat-y: 306px;
$icon-heat-offset-x: -104px;
$icon-heat-offset-y: -306px;
$icon-heat-width: 16px;
$icon-heat-height: 16px;
$icon-heat-total-width: 357px;
$icon-heat-total-height: 355px;
$icon-heat-image: 'sprite-png.png';
$icon-heat: (104px, 306px, -104px, -306px, 16px, 16px, 357px, 355px, 'sprite-png.png', 'icon-heat', );
$icon-house-name: 'icon-house';
$icon-house-x: 342px;
$icon-house-y: 53px;
$icon-house-offset-x: -342px;
$icon-house-offset-y: -53px;
$icon-house-width: 15px;
$icon-house-height: 16px;
$icon-house-total-width: 357px;
$icon-house-total-height: 355px;
$icon-house-image: 'sprite-png.png';
$icon-house: (342px, 53px, -342px, -53px, 15px, 16px, 357px, 355px, 'sprite-png.png', 'icon-house', );
$icon-instagram-name: 'icon-instagram';
$icon-instagram-x: 299px;
$icon-instagram-y: 159px;
$icon-instagram-offset-x: -299px;
$icon-instagram-offset-y: -159px;
$icon-instagram-width: 24px;
$icon-instagram-height: 25px;
$icon-instagram-total-width: 357px;
$icon-instagram-total-height: 355px;
$icon-instagram-image: 'sprite-png.png';
$icon-instagram: (299px, 159px, -299px, -159px, 24px, 25px, 357px, 355px, 'sprite-png.png', 'icon-instagram', );
$icon-like-name: 'icon-like';
$icon-like-x: 342px;
$icon-like-y: 186px;
$icon-like-offset-x: -342px;
$icon-like-offset-y: -186px;
$icon-like-width: 15px;
$icon-like-height: 14px;
$icon-like-total-width: 357px;
$icon-like-total-height: 355px;
$icon-like-image: 'sprite-png.png';
$icon-like: (342px, 186px, -342px, -186px, 15px, 14px, 357px, 355px, 'sprite-png.png', 'icon-like', );
$icon-marker-name: 'icon-marker';
$icon-marker-x: 26px;
$icon-marker-y: 306px;
$icon-marker-offset-x: -26px;
$icon-marker-offset-y: -306px;
$icon-marker-width: 16px;
$icon-marker-height: 22px;
$icon-marker-total-width: 357px;
$icon-marker-total-height: 355px;
$icon-marker-image: 'sprite-png.png';
$icon-marker: (26px, 306px, -26px, -306px, 16px, 22px, 357px, 355px, 'sprite-png.png', 'icon-marker', );
$icon-messege-name: 'icon-messege';
$icon-messege-x: 342px;
$icon-messege-y: 263px;
$icon-messege-offset-x: -342px;
$icon-messege-offset-y: -263px;
$icon-messege-width: 14px;
$icon-messege-height: 14px;
$icon-messege-total-width: 357px;
$icon-messege-total-height: 355px;
$icon-messege-image: 'sprite-png.png';
$icon-messege: (342px, 263px, -342px, -263px, 14px, 14px, 357px, 355px, 'sprite-png.png', 'icon-messege', );
$icon-ok-name: 'icon-ok';
$icon-ok-x: 299px;
$icon-ok-y: 124px;
$icon-ok-offset-x: -299px;
$icon-ok-offset-y: -124px;
$icon-ok-width: 25px;
$icon-ok-height: 25px;
$icon-ok-total-width: 357px;
$icon-ok-total-height: 355px;
$icon-ok-image: 'sprite-png.png';
$icon-ok: (299px, 124px, -299px, -124px, 25px, 25px, 357px, 355px, 'sprite-png.png', 'icon-ok', );
$icon-open-tab-name: 'icon-open-tab';
$icon-open-tab-x: 72px;
$icon-open-tab-y: 242px;
$icon-open-tab-offset-x: -72px;
$icon-open-tab-offset-y: -242px;
$icon-open-tab-width: 13px;
$icon-open-tab-height: 8px;
$icon-open-tab-total-width: 357px;
$icon-open-tab-total-height: 355px;
$icon-open-tab-image: 'sprite-png.png';
$icon-open-tab: (72px, 242px, -72px, -242px, 13px, 8px, 357px, 355px, 'sprite-png.png', 'icon-open-tab', );
$icon-plant-name: 'icon-plant';
$icon-plant-x: 342px;
$icon-plant-y: 79px;
$icon-plant-offset-x: -342px;
$icon-plant-offset-y: -79px;
$icon-plant-width: 15px;
$icon-plant-height: 16px;
$icon-plant-total-width: 357px;
$icon-plant-total-height: 355px;
$icon-plant-image: 'sprite-png.png';
$icon-plant: (342px, 79px, -342px, -79px, 15px, 16px, 357px, 355px, 'sprite-png.png', 'icon-plant', );
$icon-prev-next-black-name: 'icon-prev-next-black';
$icon-prev-next-black-x: 0px;
$icon-prev-next-black-y: 262px;
$icon-prev-next-black-offset-x: 0px;
$icon-prev-next-black-offset-y: -262px;
$icon-prev-next-black-width: 17px;
$icon-prev-next-black-height: 34px;
$icon-prev-next-black-total-width: 357px;
$icon-prev-next-black-total-height: 355px;
$icon-prev-next-black-image: 'sprite-png.png';
$icon-prev-next-black: (0px, 262px, 0px, -262px, 17px, 34px, 357px, 355px, 'sprite-png.png', 'icon-prev-next-black', );
$icon-prev-next-blue-name: 'icon-prev-next-blue';
$icon-prev-next-blue-x: 270px;
$icon-prev-next-blue-y: 190px;
$icon-prev-next-blue-offset-x: -270px;
$icon-prev-next-blue-offset-y: -190px;
$icon-prev-next-blue-width: 17px;
$icon-prev-next-blue-height: 34px;
$icon-prev-next-blue-total-width: 357px;
$icon-prev-next-blue-total-height: 355px;
$icon-prev-next-blue-image: 'sprite-png.png';
$icon-prev-next-blue: (270px, 190px, -270px, -190px, 17px, 34px, 357px, 355px, 'sprite-png.png', 'icon-prev-next-blue', );
$icon-project-1-name: 'icon-project-1';
$icon-project-1-x: 0px;
$icon-project-1-y: 0px;
$icon-project-1-offset-x: 0px;
$icon-project-1-offset-y: 0px;
$icon-project-1-width: 106px;
$icon-project-1-height: 83px;
$icon-project-1-total-width: 357px;
$icon-project-1-total-height: 355px;
$icon-project-1-image: 'sprite-png.png';
$icon-project-1: (0px, 0px, 0px, 0px, 106px, 83px, 357px, 355px, 'sprite-png.png', 'icon-project-1', );
$icon-project-2-name: 'icon-project-2';
$icon-project-2-x: 0px;
$icon-project-2-y: 93px;
$icon-project-2-offset-x: 0px;
$icon-project-2-offset-y: -93px;
$icon-project-2-width: 98px;
$icon-project-2-height: 87px;
$icon-project-2-total-width: 357px;
$icon-project-2-total-height: 355px;
$icon-project-2-image: 'sprite-png.png';
$icon-project-2: (0px, 93px, 0px, -93px, 98px, 87px, 357px, 355px, 'sprite-png.png', 'icon-project-2', );
$icon-project-3-name: 'icon-project-3';
$icon-project-3-x: 116px;
$icon-project-3-y: 95px;
$icon-project-3-offset-x: -116px;
$icon-project-3-offset-y: -95px;
$icon-project-3-width: 81px;
$icon-project-3-height: 81px;
$icon-project-3-total-width: 357px;
$icon-project-3-total-height: 355px;
$icon-project-3-image: 'sprite-png.png';
$icon-project-3: (116px, 95px, -116px, -95px, 81px, 81px, 357px, 355px, 'sprite-png.png', 'icon-project-3', );
$icon-project-4-name: 'icon-project-4';
$icon-project-4-x: 116px;
$icon-project-4-y: 0px;
$icon-project-4-offset-x: -116px;
$icon-project-4-offset-y: 0px;
$icon-project-4-width: 94px;
$icon-project-4-height: 85px;
$icon-project-4-total-width: 357px;
$icon-project-4-total-height: 355px;
$icon-project-4-image: 'sprite-png.png';
$icon-project-4: (116px, 0px, -116px, 0px, 94px, 85px, 357px, 355px, 'sprite-png.png', 'icon-project-4', );
$icon-quote-name: 'icon-quote';
$icon-quote-x: 196px;
$icon-quote-y: 262px;
$icon-quote-offset-x: -196px;
$icon-quote-offset-y: -262px;
$icon-quote-width: 18px;
$icon-quote-height: 15px;
$icon-quote-total-width: 357px;
$icon-quote-total-height: 355px;
$icon-quote-image: 'sprite-png.png';
$icon-quote: (196px, 262px, -196px, -262px, 18px, 15px, 357px, 355px, 'sprite-png.png', 'icon-quote', );
$icon-search-name: 'icon-search';
$icon-search-x: 61px;
$icon-search-y: 262px;
$icon-search-offset-x: -61px;
$icon-search-offset-y: -262px;
$icon-search-width: 19px;
$icon-search-height: 19px;
$icon-search-total-width: 357px;
$icon-search-total-height: 355px;
$icon-search-image: 'sprite-png.png';
$icon-search: (61px, 262px, -61px, -262px, 19px, 19px, 357px, 355px, 'sprite-png.png', 'icon-search', );
$icon-seguriti-name: 'icon-seguriti';
$icon-seguriti-x: 342px;
$icon-seguriti-y: 27px;
$icon-seguriti-offset-x: -342px;
$icon-seguriti-offset-y: -27px;
$icon-seguriti-width: 15px;
$icon-seguriti-height: 16px;
$icon-seguriti-total-width: 357px;
$icon-seguriti-total-height: 355px;
$icon-seguriti-image: 'sprite-png.png';
$icon-seguriti: (342px, 27px, -342px, -27px, 15px, 16px, 357px, 355px, 'sprite-png.png', 'icon-seguriti', );
$icon-shop-name: 'icon-shop';
$icon-shop-x: 156px;
$icon-shop-y: 306px;
$icon-shop-offset-x: -156px;
$icon-shop-offset-y: -306px;
$icon-shop-width: 16px;
$icon-shop-height: 16px;
$icon-shop-total-width: 357px;
$icon-shop-total-height: 355px;
$icon-shop-image: 'sprite-png.png';
$icon-shop: (156px, 306px, -156px, -306px, 16px, 16px, 357px, 355px, 'sprite-png.png', 'icon-shop', );
$icon-signaling-name: 'icon-signaling';
$icon-signaling-x: 115px;
$icon-signaling-y: 262px;
$icon-signaling-offset-x: -115px;
$icon-signaling-offset-y: -262px;
$icon-signaling-width: 17px;
$icon-signaling-height: 16px;
$icon-signaling-total-width: 357px;
$icon-signaling-total-height: 355px;
$icon-signaling-image: 'sprite-png.png';
$icon-signaling: (115px, 262px, -115px, -262px, 17px, 16px, 357px, 355px, 'sprite-png.png', 'icon-signaling', );
$icon-sinhron-name: 'icon-sinhron';
$icon-sinhron-x: 182px;
$icon-sinhron-y: 306px;
$icon-sinhron-offset-x: -182px;
$icon-sinhron-offset-y: -306px;
$icon-sinhron-width: 16px;
$icon-sinhron-height: 16px;
$icon-sinhron-total-width: 357px;
$icon-sinhron-total-height: 355px;
$icon-sinhron-image: 'sprite-png.png';
$icon-sinhron: (182px, 306px, -182px, -306px, 16px, 16px, 357px, 355px, 'sprite-png.png', 'icon-sinhron', );
$icon-sistem-name: 'icon-sistem';
$icon-sistem-x: 40px;
$icon-sistem-y: 338px;
$icon-sistem-offset-x: -40px;
$icon-sistem-offset-y: -338px;
$icon-sistem-width: 13px;
$icon-sistem-height: 12px;
$icon-sistem-total-width: 357px;
$icon-sistem-total-height: 355px;
$icon-sistem-image: 'sprite-png.png';
$icon-sistem: (40px, 338px, -40px, -338px, 13px, 12px, 357px, 355px, 'sprite-png.png', 'icon-sistem', );
$icon-smile-big-name: 'icon-smile-big';
$icon-smile-big-x: 220px;
$icon-smile-big-y: 71px;
$icon-smile-big-offset-x: -220px;
$icon-smile-big-offset-y: -71px;
$icon-smile-big-width: 63px;
$icon-smile-big-height: 63px;
$icon-smile-big-total-width: 357px;
$icon-smile-big-total-height: 355px;
$icon-smile-big-image: 'sprite-png.png';
$icon-smile-big: (220px, 71px, -220px, -71px, 63px, 63px, 357px, 355px, 'sprite-png.png', 'icon-smile-big', );
$icon-storm-name: 'icon-storm';
$icon-storm-x: 0px;
$icon-storm-y: 338px;
$icon-storm-offset-x: 0px;
$icon-storm-offset-y: -338px;
$icon-storm-width: 10px;
$icon-storm-height: 17px;
$icon-storm-total-width: 357px;
$icon-storm-total-height: 355px;
$icon-storm-image: 'sprite-png.png';
$icon-storm: (0px, 338px, 0px, -338px, 10px, 17px, 357px, 355px, 'sprite-png.png', 'icon-storm', );
$icon-ststem-2-name: 'icon-ststem-2';
$icon-ststem-2-x: 277px;
$icon-ststem-2-y: 262px;
$icon-ststem-2-offset-x: -277px;
$icon-ststem-2-offset-y: -262px;
$icon-ststem-2-width: 17px;
$icon-ststem-2-height: 14px;
$icon-ststem-2-total-width: 357px;
$icon-ststem-2-total-height: 355px;
$icon-ststem-2-image: 'sprite-png.png';
$icon-ststem-2: (277px, 262px, -277px, -262px, 17px, 14px, 357px, 355px, 'sprite-png.png', 'icon-ststem-2', );
$icon-ststem-3-name: 'icon-ststem-3';
$icon-ststem-3-x: 342px;
$icon-ststem-3-y: 313px;
$icon-ststem-3-offset-x: -342px;
$icon-ststem-3-offset-y: -313px;
$icon-ststem-3-width: 13px;
$icon-ststem-3-height: 12px;
$icon-ststem-3-total-width: 357px;
$icon-ststem-3-total-height: 355px;
$icon-ststem-3-image: 'sprite-png.png';
$icon-ststem-3: (342px, 313px, -342px, -313px, 13px, 12px, 357px, 355px, 'sprite-png.png', 'icon-ststem-3', );
$icon-tool-3-name: 'icon-tool-3';
$icon-tool-3-x: 299px;
$icon-tool-3-y: 46px;
$icon-tool-3-offset-x: -299px;
$icon-tool-3-offset-y: -46px;
$icon-tool-3-width: 33px;
$icon-tool-3-height: 33px;
$icon-tool-3-total-width: 357px;
$icon-tool-3-total-height: 355px;
$icon-tool-3-image: 'sprite-png.png';
$icon-tool-3: (299px, 46px, -299px, -46px, 33px, 33px, 357px, 355px, 'sprite-png.png', 'icon-tool-3', );
$icon-tool-name: 'icon-tool';
$icon-tool-x: 224px;
$icon-tool-y: 262px;
$icon-tool-offset-x: -224px;
$icon-tool-offset-y: -262px;
$icon-tool-width: 17px;
$icon-tool-height: 15px;
$icon-tool-total-width: 357px;
$icon-tool-total-height: 355px;
$icon-tool-image: 'sprite-png.png';
$icon-tool: (224px, 262px, -224px, -262px, 17px, 15px, 357px, 355px, 'sprite-png.png', 'icon-tool', );
$icon-tw-name: 'icon-tw';
$icon-tw-x: 299px;
$icon-tw-y: 89px;
$icon-tw-offset-x: -299px;
$icon-tw-offset-y: -89px;
$icon-tw-width: 25px;
$icon-tw-height: 25px;
$icon-tw-total-width: 357px;
$icon-tw-total-height: 355px;
$icon-tw-image: 'sprite-png.png';
$icon-tw: (299px, 89px, -299px, -89px, 25px, 25px, 357px, 355px, 'sprite-png.png', 'icon-tw', );
$icon-vector-btn-name: 'icon-vector-btn';
$icon-vector-btn-x: 299px;
$icon-vector-btn-y: 229px;
$icon-vector-btn-offset-x: -299px;
$icon-vector-btn-offset-y: -229px;
$icon-vector-btn-width: 30px;
$icon-vector-btn-height: 16px;
$icon-vector-btn-total-width: 357px;
$icon-vector-btn-total-height: 355px;
$icon-vector-btn-image: 'sprite-png.png';
$icon-vector-btn: (299px, 229px, -299px, -229px, 30px, 16px, 357px, 355px, 'sprite-png.png', 'icon-vector-btn', );
$icon-video-camera-name: 'icon-video-camera';
$icon-video-camera-x: 208px;
$icon-video-camera-y: 306px;
$icon-video-camera-offset-x: -208px;
$icon-video-camera-offset-y: -306px;
$icon-video-camera-width: 16px;
$icon-video-camera-height: 11px;
$icon-video-camera-total-width: 357px;
$icon-video-camera-total-height: 355px;
$icon-video-camera-image: 'sprite-png.png';
$icon-video-camera: (208px, 306px, -208px, -306px, 16px, 11px, 357px, 355px, 'sprite-png.png', 'icon-video-camera', );
$icon-vint-name: 'icon-vint';
$icon-vint-x: 251px;
$icon-vint-y: 262px;
$icon-vint-offset-x: -251px;
$icon-vint-offset-y: -262px;
$icon-vint-width: 16px;
$icon-vint-height: 15px;
$icon-vint-total-width: 357px;
$icon-vint-total-height: 355px;
$icon-vint-image: 'sprite-png.png';
$icon-vint: (251px, 262px, -251px, -262px, 16px, 15px, 357px, 355px, 'sprite-png.png', 'icon-vint', );
$icon-vk-name: 'icon-vk';
$icon-vk-x: 27px;
$icon-vk-y: 262px;
$icon-vk-offset-x: -27px;
$icon-vk-offset-y: -262px;
$icon-vk-width: 24px;
$icon-vk-height: 24px;
$icon-vk-total-width: 357px;
$icon-vk-total-height: 355px;
$icon-vk-image: 'sprite-png.png';
$icon-vk: (27px, 262px, -27px, -262px, 24px, 24px, 357px, 355px, 'sprite-png.png', 'icon-vk', );
$icon-warning-2-name: 'icon-warning-2';
$icon-warning-2-x: 220px;
$icon-warning-2-y: 0px;
$icon-warning-2-offset-x: -220px;
$icon-warning-2-offset-y: 0px;
$icon-warning-2-width: 69px;
$icon-warning-2-height: 61px;
$icon-warning-2-total-width: 357px;
$icon-warning-2-total-height: 355px;
$icon-warning-2-image: 'sprite-png.png';
$icon-warning-2: (220px, 0px, -220px, 0px, 69px, 61px, 357px, 355px, 'sprite-png.png', 'icon-warning-2', );
$icon-warning-name: 'icon-warning';
$icon-warning-x: 299px;
$icon-warning-y: 0px;
$icon-warning-offset-x: -299px;
$icon-warning-offset-y: 0px;
$icon-warning-width: 33px;
$icon-warning-height: 36px;
$icon-warning-total-width: 357px;
$icon-warning-total-height: 355px;
$icon-warning-image: 'sprite-png.png';
$icon-warning: (299px, 0px, -299px, 0px, 33px, 36px, 357px, 355px, 'sprite-png.png', 'icon-warning', );
$icon-web-name: 'icon-web';
$icon-web-x: 78px;
$icon-web-y: 306px;
$icon-web-offset-x: -78px;
$icon-web-offset-y: -306px;
$icon-web-width: 16px;
$icon-web-height: 16px;
$icon-web-total-width: 357px;
$icon-web-total-height: 355px;
$icon-web-image: 'sprite-png.png';
$icon-web: (78px, 306px, -78px, -306px, 16px, 16px, 357px, 355px, 'sprite-png.png', 'icon-web', );
$icon-worker-name: 'icon-worker';
$icon-worker-x: 142px;
$icon-worker-y: 262px;
$icon-worker-offset-x: -142px;
$icon-worker-offset-y: -262px;
$icon-worker-width: 17px;
$icon-worker-height: 16px;
$icon-worker-total-width: 357px;
$icon-worker-total-height: 355px;
$icon-worker-image: 'sprite-png.png';
$icon-worker: (142px, 262px, -142px, -262px, 17px, 16px, 357px, 355px, 'sprite-png.png', 'icon-worker', );
$spritesheet-width: 357px;
$spritesheet-height: 355px;
$spritesheet-image: 'sprite-png.png';
$spritesheet-sprites: ($icon-bags, $icon-bank, $icon-big-car, $icon-boiler, $icon-books, $icon-bricks, $icon-builder, $icon-calculator, $icon-cancelary, $icon-car, $icon-choice, $icon-cran, $icon-document, $icon-drop, $icon-energi, $icon-factory, $icon-fayer-2, $icon-fayer, $icon-fb, $icon-fire-extinguisher, $icon-fueling, $icon-heat, $icon-house, $icon-instagram, $icon-like, $icon-marker, $icon-messege, $icon-ok, $icon-open-tab, $icon-plant, $icon-prev-next-black, $icon-prev-next-blue, $icon-project-1, $icon-project-2, $icon-project-3, $icon-project-4, $icon-quote, $icon-search, $icon-seguriti, $icon-shop, $icon-signaling, $icon-sinhron, $icon-sistem, $icon-smile-big, $icon-storm, $icon-ststem-2, $icon-ststem-3, $icon-tool-3, $icon-tool, $icon-tw, $icon-vector-btn, $icon-video-camera, $icon-vint, $icon-vk, $icon-warning-2, $icon-warning, $icon-web, $icon-worker, );
$spritesheet: (357px, 355px, 'sprite-png.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
