@import "bourbon";

//var font-family
$default-font: 'PTsans', sans-serif;
$title-font: 'Exo2', sans-serif;
$add-font: 'ArialMT', sans-serif;
$inner-font-title: 'Avanti', sans-serif;

//var colors
$main-color: #008dd4;
$btn-color: #00679f;
$text-color: #6b6d6e;
$title-color: #232323;

//var width
$min-width: 270px;
$max-width: 1230px;

